In [230]:
import pandas as pd

In [231]:
transactions_metrics = pd.read_csv('transactions_metrics.csv')

Описание колонок:
    
clientid – id клиента


transaction_id – transaction id

revenue – сумма заказа

date – дата


Всего уникальных пользователей 220000

In [232]:
transactions_metrics

      client_id  transaction_id  revenue        date
0       1420439            2608    24255  2020-11-30
1       1420678            5656    20673  2020-11-30
2       1421738            1888    25186  2020-11-30
3       1422530            2400    23875  2020-11-30
4       1422540            5964    27646  2020-11-30
...         ...             ...      ...         ...
7995    1448696            5782    21915  2020-12-30
7996    1448803            4076    25455  2020-12-30
7997    1448878            1824    26693  2020-12-30
7998    1449756            3242    27516  2020-12-30
7999    1450065            6374    24395  2020-12-30

[8000 rows x 4 columns]

 В датасете 8000 строк и 4 колонки, в них содержится информация о покупках на маркетплейсе за месяц

Посмотрим пропущенные значения

In [241]:
transactions_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       8000 non-null   int64
 1   transaction_id  8000 non-null   int64
 2   revenue         8000 non-null   int64
 3   date            8000 non-null   object
dtypes: int64(3), object(1)
memory usage: 250.1+ KB

С датасетом все впорядке, посчитаем метрики

In [242]:
# количество уникальных клиентов
clients = transactions_metrics.client_id.nunique()
clients

6135

In [235]:
# всего пользователей
all_users = 220000

In [236]:
# конверсия

cr = round((clients / all_users) * 100, 3)
cr

2.789

In [237]:
# средний чек

round(transactions_metrics.revenue.sum() / transactions_metrics.shape[0], 0)

25005.0

In [238]:
# среднее количество покупок на клиента

round(transactions_metrics.groupby(['client_id'], as_index=False) \
    .agg({'transaction_id': 'count'}) \
    .transaction_id.mean(), 2)

1.3

In [239]:
# ARPPU (средняя прибыль от одного платящего клиента)

arppu = round(transactions_metrics.revenue.sum() / clients, 0)
arppu

32606.0

In [240]:
# ARPU (сколько клиент в среднем тратит)

arpu = round(arppu * cr, 0)

arpu

90938.0